<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <div class="jumbotron text-center">
        <h2>URL Shortener</h2>
    </div>

    <h3><b>URL you are visiting is missing!</b></h3>

</body>

</html>