<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <div class="jumbotron text-center">
        <h2><span class="fa fa-lock"></span>Authentication for TinyURL</h2>

        <p>Login with:</p>

        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    </div>

</body>
</html>