<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <div class="jumbotron text-center">
        <h2>URL Shortener</h2>
    </div>

    

</body>
</html>